.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    color: #9181F4;
    border-bottom: 1px solid black;
}

.navbar > a {
    text-decoration: none;
    color: #7d64d6;
}

.navbar-subcontainer {
    display: flex;
    gap: 30px;
    font-size: 20px;
    color: #9181F4;
}

.navbar-subcontainer>a {
    text-decoration: none;
    color: #7d64d6;
}

.navbar-subcontainer>a:hover {
    text-decoration: underline;
}