.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: calc(100vw - 90px);
    color: #9181F4;
}

.navbar-subcontainer {
    display: flex;
    gap: 30px;
    font-size: 20px;
    color: #9181F4;
}

.navbar-subcontainer > a {
    text-decoration: none;
    color: #7d64d6;
}

.navbar-subcontainer > a:hover {
    text-decoration: underline;
}