.register-big-container {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.register-main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100vh;
    gap: 14px;
    width: 50%;
}

.button-register-active {
    background-color: white;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #6957df;
    color: #6957df;
    font-weight: 700;
    width: 170px;
    margin-top: 10px;
    cursor: pointer;
}

.button-register-inactive {
    background-color: #6957df;
    padding: 14px;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: 700;
    width: 170px;
    margin-top: 10px;
    cursor: pointer;
}

.buttons-register-container {
    display: flex;
    gap: 10px;
}

.register-title {
    margin-top: 20px;
    color: #9181F4;
}

.register-paragraph {

}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin-top: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #ebe3fc;
    padding: 10px;
    border-radius: 6px;
}

.register-input-icon {
    width: 20px;
    height: 20px;
}

.input-register {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 6px;
}

.input-register::placeholder {
    color: black;
}

.input-register:focus {
    border: none; /* Remove a borda ao focar */
    box-shadow: none; /* Remove qualquer sombra */
    outline: none;
}

.register-biologo-button {
    background-color: #6957df;
    padding: 14px;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    min-width: 380px;
    margin-top: 10px;
    cursor: pointer;
}

.register-image {
    width: 45%;
    max-height: 100vh;
}

.register-register-paragraph {
    font-size: 16px;
}

.register-register-paragraph:hover {
    text-decoration: underline;
    cursor: pointer;
}

.input-select-biologist-areaWork {
    padding: 10px;
    border: 2px solid #9181f4;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
    cursor: pointer;
}