.fiscal-edit-big-container {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
}

.fiscal-edit-main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100vh;
    gap: 14px;
    width: 35%;
    border: 2px solid #6957df;
    border-radius: 8px;
}

.fiscal-buttons-edit-container {
    display: flex;
    gap: 10px;
}

.fiscal-button-edit-active {
    background-color: white;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #6957df;
    color: #6957df;
    font-weight: 700;
    width: 170px;
    margin-top: 10px;
    cursor: pointer;
}

.fiscal-button-edit-inactive {
    background-color: #6957df;
    padding: 14px;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: 700;
    width: 170px;
    margin-top: 10px;
    cursor: pointer;
}

.fiscal-edit-title {
    margin-top: 20px;
    color: #9181F4;
}

.fiscal-edit-paragraph {
    text-align: center;
}

.fiscal-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin-top: 10px;
}

.fiscal-input-container {
    display: flex;
    align-items: center;
    background-color: #ebe3fc;
    padding: 10px;
    border-radius: 6px;
}

.fiscal-edit-input-icon {
    width: 20px;
    height: 20px;
}

.fiscal-input-edit {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 6px;
}

.fiscal-input-edit::placeholder {
    color: black;
}

.fiscal-input-edit:focus {
    border: none;
    /* Remove a borda ao focar */
    box-shadow: none;
    /* Remove qualquer sombra */
    outline: none;
}

.fiscal-edit-fiscal-button {
    background-color: #6957df;
    padding: 14px;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    min-width: 380px;
    margin-top: 10px;
    cursor: pointer;
}

.fiscal-edit-image {
    width: 45%;
    max-height: 100vh;
}

.fiscal-input-select-editfiscal-areaWork {
    padding: 10px;
    border: 2px solid #9181f4;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
    cursor: pointer;
}